a {
    text-decoration: none;
    color: unset;
}

body {
    background-color: var(--secondary-color);
    color: white;
}

#btn-calc {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    border-radius: 0px;
}